# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control

NEXT_PUBLIC_SANITY_PROJECT_ID=SET_YOUR_SANITY_PROJECT_ID_HERE
NEXT_PUBLIC_SANITY_DATASET==SET_YOUR_SANITY_DATASET_TYPE_HERE
NEXT_PUBLIC_SANITY_API_VERSION=2024-09-04

NEXT_PUBLIC_PUSHER_APP_KEY=SET_YOUR_PUSHER_APP_KEY_HERE
NEXT_PUBLIC_PUSHER_CLUSTER=eu
PUSHER_APP_ID=SET_YOUR_PUSHER_APP_ID_HERE
PUSHER_APP_SECRET=SET_YOUR_PUSHER_APP_SECRET_HERE

NEXTAUTH_SECRET=SET_YOUR_NEXTAUTH_SECRET_HERE

POSTGRES_PASSWORD=example
DATABASE_URL=SET_YOUR_DATABASE_URL_HERE
